<ion-view view-title="Billing Day wise breakup">
  <ion-content overflow-scroll="true">

  	<div class="list">

  		<div class="item">
		    <div class="row">
		    	<div class="col col-50">Total</div>
		    	<div class="col"></div>
		    	<div class="col">Rs. 2900</div>
		    </div>
		  </div>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">1 st</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#">
		    <div class="row">
		    	<div class="col col-50">Gokul</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Mahananda</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total milk</div>
		    	<div class="col">2 lts</div>
		    	<div class="col">200</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">2 nd</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#">
		    <div class="row">
		    	<div class="col col-50">Gokul</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Mahananda</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total milk</div>
		    	<div class="col">2 lts</div>
		    	<div class="col">200</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">3 rd</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#">
		    <div class="row">
		    	<div class="col col-50">Gokul</div>
		    	<div class="col">0 lts</div>
		    	<div class="col">0</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Mahananda</div>
		    	<div class="col">0 lts</div>
		    	<div class="col">0</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total milk</div>
		    	<div class="col">0 lts</div>
		    	<div class="col">0</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">4 th</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#">
		    <div class="row">
		    	<div class="col col-50">Gokul</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Mahananda</div>
		    	<div class="col">1 lts</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total milk</div>
		    	<div class="col">2 lts</div>
		    	<div class="col">200</div>
		    </div>
		  </a>

		</div>

  </ion-content>
</ion-view>
