<ion-view view-title="Billing">
  <ion-content overflow-scroll="true">

  	<div class="row">
  		<div class="col">
  			<label class="item item-input item-select">
			    <div class="input-label">
			      <span style="font-size: 15px;">Month</span>
			    </div>
			    <select>
			      <option>Jan</option>
			      <option>Feb</option>
			      <option>Mar</option>
			      <option>Apr</option>
			      <option>May</option>
			      <option>Jun</option>
			      <option>Jul</option>
			      <option>Aug</option>
			      <option selected>Sept</option>
			      <option>Oct</option>
			      <option>Nov</option>
			      <option>Dec</option>
			    </select>
			  </label>
  		</div>
  		<div class="col">
  			<label class="item item-input item-select">
			    <div class="input-label">
			      <span style="font-size: 15px;">Year</span>
			    </div>
			    <select>
			      <option>2015</option>
			      <option>2014</option>
			      <option>2013</option>
			      <option>2012</option>
			      <option>2011</option>
			    </select>
			  </label>
  		</div>
  	</div>

  	<div class="list">

  		<div class="item">
		    <div class="row">
		    	<div class="col col-50">Total</div>
		    	<div class="col"></div>
		    	<div class="col">Rs. 3660</div>
		    </div>
		  </div>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">Milk</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#/tab/billing/daily">
		    <div class="row">
		    	<div class="col col-50">Gokul</div>
		    	<div class="col">15 lts</div>
		    	<div class="col">1500</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Mahananda</div>
		    	<div class="col">14 lts</div>
		    	<div class="col">1400</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total milk</div>
		    	<div class="col">44 lts</div>
		    	<div class="col">2900</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">Newspaper</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#/tab/billing/daily">
		    <div class="row">
		    	<div class="col col-50">Times of India</div>
		    	<div class="col">26</div>
		    	<div class="col">130</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">DNA</div>
		    	<div class="col">26</div>
		    	<div class="col">100</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total newspaper</div>
		    	<div class="col">52</div>
		    	<div class="col">230</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">Eggs</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#/tab/billing/daily">
		    <div class="row">
		    	<div class="col col-50">White eggs</div>
		    	<div class="col">45</div>
		    	<div class="col">180</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total eggs</div>
		    	<div class="col">45</div>
		    	<div class="col">180</div>
		    </div>
		  </a>

		  <div class="item item-divider">
		    <div class="row">
		    	<div class="col col-50">Bread</div>
		    	<div class="col">Qty</div>
		    	<div class="col">Total (Rs.)</div>
		    </div>
		  </div>

		  <a class="item" href="#/tab/billing/daily">
		    <div class="row">
		    	<div class="col col-50">Britania</div>
		    	<div class="col">10</div>
		    	<div class="col">200</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Wibbs</div>
		    	<div class="col">10</div>
		    	<div class="col">150</div>
		    </div>

		    <div class="row">
		    	<div class="col col-50">Total bread</div>
		    	<div class="col">20</div>
		    	<div class="col">350</div>
		    </div>
		  </a>

		</div>

  </ion-content>
</ion-view>
