<ion-view view-title="Home">
  <ion-content>
    
    <div class="row" style="height:40px;"></div>

    <div class="row">
      <div class="col">
        <center> 
          <a class="home-icon ion-android-restaurant"></a>
        </center>
      </div>
      <div class="col">
        <center>
          <a class="home-icon ion-android-stopwatch"></a>
        </center>
      </div>
    </div>

    <div class="row" style="height:40px;"></div>

    <div class="row">
      <div class="col">
        <center>
          <a class="home-icon ion-bag"></a>
        </center>
      </div>
      <div class="col">
        <center>
          <a class="home-icon ion-beer"></a>
        </center>
      </div>
    </div>

    <div class="row" style="height:40px;"></div>

    <div class="row">
      <div class="col">
        <center>
          <a class="home-icon ion-clipboard"></a>
        </center>
      </div>
      <div class="col">
        <center>
          <a class="home-icon ion-coffee"></a>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
