<ion-view view-title="Choose category">
  <ion-content>
    
    <div class="row" style="height:40px;"></div>

    <div class="row">
      <div class="col">
        <center> 
          <a href="#/tab/items/1" class="icon-black-imp home-icon ion-coffee"></a>
          <p>Milk</p>
        </center>
      </div>
      <div class="col">
        <center>
          <a href="#/tab/items/2" class="icon-black-imp home-icon ion-egg"></a>
          <p>Eggs</p>
        </center>
      </div>
    </div>

    <div class="row" style="height:40px;"></div>

    <div class="row">
      <div class="col">
        <center>
          <a href="#/tab/items/3" class="icon-black-imp home-icon ion-ios-cart"></a>
          <p>Bread</p>
        </center>
      </div>
      <div class="col">
        <center>
          <a href="#/tab/items/4" class="icon-black-imp home-icon ion-clipboard"></a>
          <p>Newspaper</p>
        </center>
      </div>
    </div>

  </ion-content>
</ion-view>
